.tabla-fila-alta {
   
    td div {
        height: 3rem;
        display: flex;
        align-items: center; 
        
        
    }
    
    
    &__categoria div {
        display: flex;
        align-items: center;
    }

    &__categoria span {
        color: #3b0f10;
        background-color: #d41c23;
        padding: .3rem;
        border-radius: 5px;

    }

    &__nombre div{ 
        font-size: 16px;
    }

    &__foto div {
        display: block;
        max-width: 100px;
        max-height: 100px;
        border-radius: .5rem;
        
        img {
            display: block;
            margin-top: 8px;
            width: 100%;
            height: 100%;
            border-radius: .8rem;
        }
    }

    &__acciones {
        position: relative;
    }

    &__acciones div{
        gap: .4rem;
        
    }
   
}

/* button styles */
.boton-ver, .boton-editar, .boton-eliminar {
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: .5rem .7rem;
    gap: .4rem;
    text-align: center;
    font-weight: 800;
    color: #f1f1f1;
    border: none;
    cursor: pointer;
}


.boton-editar {
    background-color: rgb(0, 110, 255);
}

.boton-editar:hover {
    background-color: rgb(6, 82, 180);
}

.boton-eliminar {
    background-color: inherit;
    color: #ac1c21;
    border: 2px solid #ac1c21;
}

.boton-eliminar:hover {
    background-color: inherit;
    color: #ff0008;
    border: 2px solid #ff0008;
}

.boton-ver {
    background-color: gray;
}

.boton-ver:hover {
    background-color: rgb(112, 111, 111);
}

.mostrar-detalles {
    display: flex;
    flex-direction: column;
    width: 290px;
    max-width: 330px;
    min-height: 160px;
    max-height: 250px;
    opacity: 0;
    position: absolute;
    overflow: hidden;
    background-color: #ac1c21;
    padding: 1rem;
    top: 4rem;
    right: 10rem;
    border-radius: .5rem;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1;

    h3{
        color: black;
        font-size: 20px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    p{
        overflow: hidden;
    }
}

.boton-ver:hover  ~ .mostrar-detalles {
    opacity: 1;
    overflow:visible;
    opacity: 1;
    pointer-events: auto;
}