.tabla-alta {
    min-width: 1000px;
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;


    th, td {
        font-size: 14px;
        border-bottom: 1px solid #384454;
        padding: 1rem;
        text-align: left;
        max-width: 20rem;
        font-weight: 600;
        text-transform: capitalize;
    }

    tbody tr:hover {
        background-color: #281c2c;
    }


    thead {
        background-color: #281c2c;
        color: rgb(156, 163, 175);
        
        th {
            font-size: 16px;
            height: 4rem;
            font-weight: 800;
        }
    }
}
