body{
    background-color: #0b090c;
    color: #f1f1f1;
}
.alta {
    background-color: #18141c ;
    max-width: 90vw;
    margin: 2rem auto;
    border-radius: 12px;
    padding-bottom: 2rem;
    overflow-x: auto;
}