.section-cards {
    background-color: #0b090c;
    padding: 1rem;
    

    &__header span {
        color: #d41c23;
        font-style: italic;
        font-weight: 800;
        
    }
    
}

.cards-container {
    background-color: #0b090c;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1.3rem;
}
.cards-container {
    padding: 2.5rem 0;
}

@media  screen and (min-width: 992px){
    .cards-container {
        padding: 2.8rem;
    }
}
